:root {
	--primary:#043A22;
	--primary-rgb:4,58,34;
	--secondary:#C8922B;
	--secondary-rgb:200,146,43;
	--light:#fff;
	--light-rgb:255,255,255;
	--light1:#E8E2D8;
	--light1-rgb:232,226,216;
	--dark:#000;
	--dark-rgb:0,0,0;
	--gray:#EFEFEF;
	--gray-rgb:239,239,239;
	--roboto:'Roboto', sans-serif;
	--bebas:'Bebas Neue', cursive;
}

/* globals */
body { background:var(--light); color:var(--dark); font-family:var(--roboto); font-size:1.1vw; font-weight:400; line-height:1; -webkit-text-size-adjust:100%; -webkit-font-smoothing:antialiased; overflow-x: hidden; overflow-y:hidden; }
::placeholder { color:var(--light); }
::selection { background:var(--primary); color:var(--light); }
a { text-decoration:none; color:var(--dark); cursor: pointer; transition:all 0.7s; }
a:hover { text-decoration:none; color:var(--primary); }
ul { padding:0; margin:0 0 0 15px; }

h1, h2, h3, h4, h5 { position: relative; font-family: var(--bebas); line-height:1; letter-spacing: 2px; color:var(--light1); margin-bottom:40px; }
h1 { font-size:3.75vw; font-family: var(--bebas); }
h2 { font-size:3.13vw; }
h3 { font-size:2.60vw; }
h4 { font-size:2.083vw; }
h5 { font-size:1.563vw; }

p { font-size:1vw; color: var(--light1); line-height:1.4; margin-bottom: 1.6vw; text-align: justify; }
ul li { font-size:1vw; color: var(--light1); }
@media (max-width:992px) {
	h1, h2, h3, h4, h5 { margin-bottom:9.5vw; }
	h1 { font-size:16vw; }
	h2 { font-size:13vw; }
	h3 { font-size:10vw; }
	h4 { font-size:8vw; }
	h5 { font-size:5vw; }
	p { font-size:4.4vw; }
	ul li { font-size:4.4vw; }
}

::-webkit-scrollbar-track {  background-color:#333; }
::-webkit-scrollbar { width:6px; background-color:#333; }
::-webkit-scrollbar-thumb { border-radius:0; background-color:var(--dark); }

/* responsive classes */
.for-desktop { display:block; }
.for-phone { display:none !important; }
@media (max-width:992px) {
	.for-desktop { display:none !important; }
	.for-phone { display:block !important; }
}

/* brand buttons */
.btn { box-shadow:none; outline: 0; border:1px solid !important; padding:0.6vw 2vw; font-family: var(--roboto); font-size:1vw; font-weight:400; line-height:1; color:var(--light); }
.btn:focus { box-shadow:none; }
.btn.btn-primary { background:var(--primary); border-color:var(--primary); border-radius:0; }
.btn.btn-primary:hover { background:transparent; color:var(--primary); }
.btn.btn-light { background:var(--light1); border-color:var(--light1) !important; border-radius:0; color: var(--dark); }
.btn.btn-light:hover { background:var(--secondary); color:var(--dark); }
.btn.btn-outline { background:transparent; border-color:var(--secondary); border-radius:0; color:var(--secondary); }
.btn.btn-outline:hover { background:var(--secondary); color:var(--light); }
.bg-primary { background:var(--primary); }
button { box-shadow:none; outline:0; }
button:focus { box-shadow:none; border:0; }
.accordion-button:focus { border-color:transparent; box-shadow:none; }
.accordion-button:not(.collapsed) { box-shadow:none; }

form label { font-size:0.9vw; font-weight:400; line-height:1; color:var(--dark); margin-bottom: 0.4vw !important; width:100%; display:block; }
input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="password"],
input[type="tel"],
textarea,
select { width:100% !important; box-shadow: 0px 4px 4px 0px #00000040 inset!important; border-radius:0 !important; border:0 solid var(--light1) !important; background:var(--light1) !important; padding:0.4vw 0.5vw !important; height:auto !important; font-family:var(--roboto) !important; color:var(--dark) !important; font-size:1vw !important; line-height:1 !important; font-weight:400 !important; }
input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="tel"]::placeholder,
textarea::placeholder { color:var(--dark) !important; font-size:1vw !important; line-height:1 !important; font-weight:400 !important; }
input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus { border-color:var(--dark) !important; box-shadow:none !important; }
form .form-group { margin-bottom:14px; font-size: 15px; }
form .form-group label { margin-bottom:10px; color:var(--dark); }
form .form-group .error { border-color:#f00 !important; box-shadow:0 0 0 0.2rem rgb(219,47,47,0.2) !important; }
.form-select { background-image:url('img/down.png') !important; background-repeat: no-repeat !important; background-position: right 10px center !important; }
.msg { font-size:18px; text-align:left; display:none; }
.msg#successMessage { color:green; }
.msg#failMessage { color:red; }

.file-upload-wrapper { position:relative; width:100% !important; height:2vw; border:0; background:var(--light1); text-align:left; }
.file-upload-wrapper:after { content:attr(data-text); box-shadow: 0px 4px 4px 0px #00000040 inset!important; position:absolute; top:0; left:0; background:var(--light1); padding:0 0.6vw; display:block; width:calc(100% - 40px); pointer-events:none; height:100%; font-family:var(--roboto); color:var(--dark); font-size:0.9vw; line-height:2vw; font-weight:400; }
.file-upload-wrapper:before { content:"\f382"; box-shadow: 0px 4px 4px 0px #00000040 inset!important; position:absolute; top:0; right:0; display:inline-block; height:100%; color:var(--primary); font-weight:700; font-size:2vw; font-family:'Line Awesome Free'; font-weight:900; line-height:2vw; padding:0 0.6vw; text-transform:uppercase; pointer-events:none; }
.file-upload-wrapper input { opacity:0; position:absolute; top:0; right:0; bottom:0; left:0; height:100%; margin:0; padding:0; display:block; cursor:pointer; width:100%; }

.lan { position: absolute; z-index: 99; background: var(--primary); padding: 3px 4px; border-radius: 3px; top: 12px; right: 20px; font-size:18px; color: var(--light); font-weight: 600; }
.lan a { font-size:18px; color: var(--secondary); font-weight: 600; }
.lan a:hover { color: var(--light); }

#intro { display: none; width: 100%; height: 100vh; background: var(--light); position: fixed; z-index: 1000; }
#intro .top-sec { height: calc(100vh - 10.7vw); background-repeat: no-repeat; background-position: center; background-size: cover; }
#intro .top-sec .cont { background:rgba(var(--primary-rgb),0.75); width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; }
#intro .top-sec .cont .txt { width: 100%; text-align: center; }
#intro .top-sec .cont .logo img { width: auto; height: 36vh; }
#intro .top-sec .cont h4 { font-family: var(--roboto); letter-spacing: 1px; width: 100%; font-size: 1.8vw; color: var(--light); line-height: 1; font-weight: 400; margin-bottom:1.2vw; }
#intro .top-sec .cont h4.tag { display: inline-block; width: auto; margin-bottom: 0; padding-top:1.2vw; font-size: 1.8vw; line-height: 1; font-weight: 200; border-top: 2px solid var(--light); }
#intro .bottom-sec { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; background: var(--light); height: 10.7vw; }
#intro .bottom-sec img { margin: 0 1vw; height: 12vh; width: auto; }

#menu { position: sticky; top: 0; background: var(--light); padding-top: 1vw; z-index: 100; display: flex; justify-content: space-between; align-items: flex-end; padding-bottom: 10px; border-bottom: 3px solid #043A22; margin-bottom: 70px; }
#menu .logo { margin-right: 30px; }
#menu .logo img { width: 100%; height: 9vw; object-fit: contain; }
#menu a { font-size: 1.2vw; font-weight: 300; line-height: 1; color: var(--dark); position: relative; cursor: pointer; }
#menu a.active { font-weight: 600; }
#menu a.active:before,
#menu a:hover:before { position: absolute; content: ''; width: 100%; height: 3px; left: 0; bottom: -13px; background: var(--secondary); transition: all 0.5s; }

#main { display: flex; justify-content: space-between; align-items: stretch; flex-wrap: wrap; height: calc(100vh - 10.7vw); overflow-y: auto; }
#main .left-block { width: 60vw; padding: 2.6vw 4vw; }
#main .left-block h3 { font-family: var(--roboto); letter-spacing: 1px; font-size: 1.6vw; font-weight: 400; color:var(--secondary); text-align:center; margin-bottom: 2vw; }
#main .left-block p { color: var(--dark); }
#main .right-block { width: calc(100% - 60vw); background-color:var(--primary); padding:9vw 4vw 0; }
#main .right-block h1 { color: var(--light1); line-height: 1; text-transform: uppercase; margin-bottom: 5vw; }
#main .right-block h4 { position: relative; color: var(--secondary); display: inline-block; padding-bottom: 5px; font-size: 1.8vw; line-height: 1; text-transform: uppercase; margin-bottom: 2vw; }
#main .right-block h4:after { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 3px; background: var(--secondary); }
#main .right-block p { color: var(--light1); }
#main .right-block ul li { margin-bottom: 0.5vw; line-height: 1.2; }
#main .right-block .list { margin-bottom: 2vw; }
#main .right-block .list li { margin-bottom: 1vw; position: relative; text-align: justify; list-style: none; }
#main .right-block .list li:before { content: '\f0d9'; font-family: "Font Awesome 5 Free"; font-weight: 900; position: absolute; color: var(--light1); left: -15px; }
#main .right-block .list li a { margin-left:5px; font-weight: 300; color: var(--light); opacity: 0.4; }
#main .right-block .list li a:hover { opacity: 1; }
@media (max-width:992px) {
	body { overflow-y: scroll; }
	#main { height: auto; overflow-y: scroll; }
	#main .left-block { width: 100%; padding: 11vw; }
	#main .right-block { width: 100%; padding: 11vw; }
	#main .right-block h1 { text-align: center; margin-bottom: 9.5vw; }
}


#contactR iframe { width: 100%; height: 400px; margin-top: 1.5vw; }
#solutionsL .solutionsLink { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; margin: 5vw 0 1vw; padding-bottom: 1vw; border-bottom: 2px dotted var(--secondary); }
#solutionsL .solutionsLink a { cursor: pointer; font-size: 1.6vw; font-weight: 300; color:var(--dark); margin: 0 1vw; }
#solutionsL .solutionsLink a.active { font-weight: 500; }
#careerL .consultant h3 { text-align: left; font-weight: 600; margin-bottom: 2vw; }
#careerL .consultant h4 { font-family: var(--bebas); font-size: 1.2vw; font-weight: 600; color: var(--dark); text-align: left; margin-bottom: 1.5vw; }
#careerL .consultant ul { margin-bottom: 3vw; }
#careerL .consultant ul li { margin-bottom:0.4vw; color: var(--dark); }
#careerL .consultant .btn { border: 2px solid var(--secondary) !important; font-size: 1.2vw; font-weight: 600; }
#careerL .consultant .formSec .btn { border: 0 !important; }
.formSec { display: flex; justify-content: space-between; flex-wrap: wrap; margin-top: 5vw; }
.formSec .icon { margin-right: 2vw; }
.formSec .icon svg { width: 17vw; height: 17vw; fill: var(--light1); }
.formSec .form { width: calc(100% - 19vw); }
.formSec .form .duo { display: flex; justify-content: space-between; }
.formSec .form .duo div { width: 48%; }
.formSec .form textarea { height: 4.1vw !important; }
.formSec .form .btn-grp { display: flex; justify-content: flex-end; }
.formSec .form button { margin-top: 5px; }
.formSec h3 { width: 100%; text-align: center !important; margin-bottom: 5vw; }
#contactL .formSec .form { margin: 0 auto; }
#contactL .formSec .form textarea { height: 9vw !important; }

#servicesL a path { stroke:#C8922B;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10; }


footer { height: 10.7vw; background:var(--secondary); padding:1.3vw 0; position:fixed; bottom: 0; left: 0; width: 100%; display: flex; justify-content: space-between; align-items: center; }
footer, footer p { font-size: 1vw; font-weight: 400; color:var(--light1); margin: 0; }
footer .left-sec { padding-left:4vw; display: flex; justify-content: start; align-items: flex-end; }
footer .right-sec { width: calc(100% - 60vw); padding: 0 4vw 0 0; display: flex; justify-content: space-between; align-items:flex-start; }
footer .left-sec .partner { width: 11vw; margin-right: 2vw; }
footer .left-sec .partner img { width: auto; height: 3.5vw; margin: 0.4vw 0; }
footer .right-sec .blog-link h5 { font-size: 1vw; color: var(--light); margin-bottom: 1vw; }
footer .right-sec .blog-link a { display: flex; justify-content: start; align-items: center; flex-wrap: wrap; margin-bottom: 10px; font-size: 14px; }
footer .right-sec .blog-link a:last-child { margin-bottom: 0; }
footer .right-sec .blog-link a svg { width: 2vw; height: 2vw; fill: var(--light1); margin-right:0.5vw; }
footer .right-sec .f-logo img { width:auto; height: 8vw; object-fit: contain; }
footer .right-sec .contact h5 { font-size: 1vw; color: var(--light); margin-bottom: 1vw; }
footer .right-sec .contact p { display: flex; justify-content: start; align-items: center; flex-wrap: wrap; margin-bottom: 10px; font-size: 14px; }
footer .right-sec .contact p:last-child { margin-bottom: 0; }
footer .right-sec .contact p span { display: flex; flex-wrap: wrap; }
footer .right-sec .contact p span svg { width: 2vw; height: 2vw; fill: var(--light1); margin-right:0.5vw; }
@media (max-width:992px) {
	footer { position: relative; bottom: auto; left: auto; height: auto; flex-wrap: wrap; padding: 11vw; }
	footer .left-sec, footer .right-sec { width: 100%; }
	footer .left-sec { padding-left: 0; }
	footer .left-sec .partner { width: 100%; margin-right: 0; }
	footer .left-sec p { display: none; }
}